
@media all and (max-width: 900px) {
	.vBrand {
		font-size: 18px;
	}
	.vFontSize1 {
		font-size: 17px;
	}
}

@media all and (max-width: 850px) {
	.vBrand {
		font-size: 17px;
	}
	.vFontSize1 {
		font-size: 16px;
	}
	.vNavItem a {
		padding: 0 8px;
	}
}

@media all and (max-width: 780px) {
	.vBrand {
		font-size: 16px;
	}
	.vFontSize1 {
		font-size: 15px;
	}
	.vNavItem a {
		padding: 0 6px;
	}
}

@media all and (max-width: 720px) {
	.vBrand {
		font-size: 16px;
	}
	.vFontSize1 {
		font-size: 15px;
	}
	.vNavItem a {
		padding: 0 3px;
	}
}

@media all and (max-width: 670px) {
	.vBrand {
		font-size: 16px;
	}
	.vLogo img {
		position: absolute;
		top: 4px;
		left: 45.99%;
	}
	.vNavItem {
		text-align: center;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}
	.hideItem {
		display: none;
	}
	.vOpen {
		display: block;
	}

	.vHeaderMobile {
		display: block;
		height: 69vh;
		position: fixed;
      top: -100%;
		right: 0;
		left: 0;
		z-index: 10;
		transition: top 0.5s ease;

	}

}
